<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax</title>
</head>
<body>
    <p>
        <input type="button" value="提交" onclick="send();">
    </p>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script>
        function send() {
            $post(
                "community/test/ajax",
                {"name":"hututu","age":18},
                function (data) {
                    console.log(typeof(data));
                    console.log(data);

                    let json = $.parseJSON(data);
                    console.log(typeof(json));
                    console.log(json.code);
                    console.log(json.msg);
                }
            )
        }
    </script>
</body>
</html>